.bar {
  display: flex;
  gap: 0.6rem;
  margin: 0.8rem 0 0.4rem;
}
.input, .select {
  padding: 1rem 1.5rem;
  background: var(--color-bg-card);
  border-radius: 50px;
  font-size: 1.4rem;
  border: none;
  flex: 1;
  margin-bottom: 24px;
}

.select { flex: 0 0 180px; }
