.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background: #fff;
}
.formContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}
.input {
  padding: 1rem 2rem;
  border: 1px solid #d1d5db;
  border-radius: 50px;
  font-size: 1.6rem;
}
.actions {
  grid-column: 1 / -1;
  padding-top: 20px;
  display: flex;
  gap: 0.5rem;
}

.primary, .secondary {
  padding: 1rem 3rem;
  border-radius: 50px;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.primary { background: var(--color-secondary); color: #fff; }
.primary:hover { background: #1d4ed8; }

.secondary { background: #e5e7eb; color: #111827; }
.secondary:hover { background: #d1d5db; }

.error {
  grid-column: 1 / -1;
  color: #b91c1c;
  font-size: 1.6rem;
}
